@model EditorViewModel

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.Topic.Title (OnTopic)</title>

    <!-- Vendor Scripts -->
    <script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
    <script src="~/_content/OnTopic.Editor.AspNetCore/Shared/Scripts/Vendor.js" defer></script>
    <script src="https://use.fontawesome.com/fd4f92cdd7.js" defer></script>

    <!-- Vendor Styles -->
    <link rel="stylesheet" type="text/css" href="~/_content/OnTopic.Editor.AspNetCore/Shared/Styles/Vendor.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/_content/OnTopic.Editor.AspNetCore/Shared/Styles/ExtJS/css/ext-all.css" />
    <link rel="stylesheet" type="text/css" href="~/_content/OnTopic.Editor.AspNetCore/Shared/Styles/ExtJS/css/xtheme-gray.css" />

    <!-- Site Stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/_content/OnTopic.Editor.AspNetCore/Shared/Styles/Style.css" asp-append-version="true" />

    <!-- Favorite icon -->
    <link rel="shortcut icon" href="~/_content/OnTopic.Editor.AspNetCore/favicon.ico">

  </head>
  <body vocab="http://schema.org" typeof="WebPage" class="@(Model.IsModal? "modal-window" : "") @(Model.IsNew? "js-new" : "")">

    @if (!Model.IsModal) {
      <header id="SiteHeader" class="navbar fixed-top" role="banner" vocab="http://schema.org" typeof="WPHeader">
        <!-- Header Container -->
        <div id="HeaderContainer" class="container header">
          <div class="row">

            <!-- Site Name -->
            <div class="col-md-2 col-sm-3 d-none d-lg-block logotype lockup">
              <a href="~/">OnTopic</a>
            </div>
            <!-- /Site Name -->

            <!-- Page Title (Current Topic) -->
            <div class="@(Model.IsModal? "col-md-12 col-sm-12 Modal": "col-md-10 col-sm-9") page title">
              <h1>@Model.Topic.Title</h1>
            </div>
            <!-- /Page Title (Current Topic) -->

          </div>
        </div>
        <!-- /Header Container -->
      </header>
    }

    <main id="MainContentArea" class="@(Model.IsModal? "container-fluid" : "container")" role="main">
      <div class="row @(Model.IsModal? "no-gutters" : "")">

        <!-- Primary (Treeview) Sidebar -->
        @if (!Model.IsModal) {
          <nav id="Sidebar" class="col-md-2 col-sm-3 sidebar d-none d-sm-block" role="navigation">
            <div id="FixedSidebar">
              <div id="TreeView"></div>
              <text>
                <vc:content-type-list
                  current-topic                                 =@Model.Topic
                  attribute-descriptor                          =null
                  on-modal-close                                =""
                  values                                        =@Model.ContentTypeDescriptor.PermittedContentTypes>
                </vc:content-type-list>
              </text>
              <a href="@Url.Action("Import", "Editor")" class="btn btn-ancillary btn-sm">
                <span class="fa fa-arrow-up"></span>
                Import
              </a>
            </div>
          </nav>
        }
        <!-- /Primary (Treeview) Sidebar -->

        <!-- Primary Page Content -->
        <div id="PageContentArea" class="@(Model.IsModal? "col-sm-12" : "col-md-10 col-sm-9") page content">
          @RenderBody()
        </div>
        <!-- /Primary Page Content -->

      </div>
    </main>

    <script src="~/_content/OnTopic.Editor.AspNetCore/Shared/Scripts/Scripts.js" asp-append-version="true" defer></script>

    @RenderSection("Scripts", required: false)

    <script>
      /**
        * Initialize Foundation and inline scripts
        */
      window.addEventListener('DOMContentLoaded', function() {
        (function($) {

          @if (!Model.IsModal) {
            <text>
              Ext.onReady(function () {
                var tree = new OnTopic.Navigation('@Model.Topic.UniqueKey');
                tree.render('TreeView');
              });
            </text>
          }

          @RenderSection("InlineScript", false)

        })(jQuery);
      });
    </script>

  </body>
</html>