@model AttributeViewModel

<!-- Begin: @(((RazorView)ViewContext.View).Path) -->

<section id="@Model.Key" class="attribute @Model.Key">

  @Html.LabelFor(m => m.Value, Model.AttributeDescriptor.Title)
  <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="@Model.AttributeDescriptor.Description"></i>
  <div class="fields @Model.CssClass">

    @Html.HiddenFor(m => m.EditorType)
    @Html.HiddenFor(m => m.Key)

    @RenderBody()

  </div>

</section>

<!-- End: @(((RazorView)ViewContext.View).Path) -->
