@model TokenizedTopicListAttributeViewModel

@{
  Layout = "~/Views/Editor/Components/_Layout.cshtml";
  var rootTopicKey = Model.AttributeDescriptor.RootTopic?.UniqueKey.Replace(":", "/") ?? Model.AttributeDescriptor.RootTopicKey?.Replace(":", "/") ?? "Root";
}

<div>
  <input
    asp-for                             ="Value"
    class                               ="@Model.AttributeDescriptor.CssClass"
    disabled                            =@(!Model.AttributeDescriptor.IsEnabled)
    required                            =@Model.AttributeDescriptor.IsRequired
  />
</div>

<script>
  $(function() {

  //Create new instance of TokenizedTopics and set relevant properties
    var tokenizedTopics                 = new TokenizedTopics();
    tokenizedTopics.selector            = '#@Html.IdFor(m => m.Value)';
    tokenizedTopics.scope               = '@rootTopicKey';
    tokenizedTopics.attributeName       = '@Model.AttributeDescriptor.AttributeKey';
    tokenizedTopics.attributeValue      = '@Model.AttributeDescriptor.AttributeValue';
    tokenizedTopics.resultLimit         = '@Model.AttributeDescriptor.ResultLimit';
    tokenizedTopics.tokenLimit          = @Model.AttributeDescriptor.TokenLimit;
    tokenizedTopics.isAutoPostBack      = @((Model.AttributeDescriptor.AutoPostBack?? false).ToString().ToLower());
    tokenizedTopics.selectedTopics      = @Html.Raw(Model.SelectedTopics);

  //Fire TokenizedTopics.prototype.getTokenizedTopics() (and $([selector]).tokenInput())
    tokenizedTopics.getTokenizedTopics();

  });

</script>