@model Ignia.Topics.Editor.Models.AttributeViewModel

<!-- Begin: @(((RazorView)ViewContext.View).Path) -->

<section id="@Model.Key" class="attribute @Model.Key">

  @Html.LabelFor(m => m.Value, Model.Definition.Title)
  <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="@Model.Definition.Description"></i>
  <div class="fields">

    @Html.HiddenFor(m => m.Definition.EditorType)
    @Html.HiddenFor(m => m.Key)

    @RenderBody()

  </div>

</section>

<!-- End: @(((RazorView)ViewContext.View).Path) -->
