@model Ignia.Topics.Editor.Models.AttributeViewModel

<section id="@Model.Key" class="attribute @Model.Key">

  <h2>@Html.LabelFor(m => m.Value, Model.Definition.Title)</h2>
  <p>@Model.Definition.Description</p>

  <div class="fields">

    @Html.HiddenFor(m => m.Definition.Type)
    @Html.HiddenFor(m => m.Key)

    @RenderBody()

  </div>

</section>
