@model Ignia.Topics.Editor.Models.AttributeViewModel

<!-- Begin: @(((RazorView)ViewContext.View).ViewPath) -->

<section id="@Model.Key" class="attribute @Model.Key">

  @Html.LabelFor(m => m.Value, Model.Definition.Title)
  <p>@Model.Definition.Description</p>

  <div class="fields">

    @Html.HiddenFor(m => m.Definition.Type)
    @Html.HiddenFor(m => m.Key)

    @RenderBody()

  </div>

</section>

<!-- End: @(((RazorView)ViewContext.View).ViewPath) -->
