@model EditorViewModel

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ignia OnTopic</title>

    <!-- Vendor Scripts -->
    <script src="~/_content/Ignia.Topics.Editor.Mvc/Shared/Scripts/Vendor.js"></script>
    <script src="https://cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>
    <script src="https://use.fontawesome.com/fd4f92cdd7.js"></script>

    <!-- Vendor Styles -->
    <link rel="stylesheet" type="text/css" href="~/_content/Ignia.Topics.Editor.Mvc/Shared/Styles/Vendor.css" />
    <link rel="stylesheet" type="text/css" href="~/_content/Ignia.Topics.Editor.Mvc/Shared/Styles/ExtJS/css/ext-all.css" />
    <link rel="stylesheet" type="text/css" href="~/_content/Ignia.Topics.Editor.Mvc/Shared/Styles/ExtJS/css/xtheme-gray.css" />

    <!-- Site Stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/_content/Ignia.Topics.Editor.Mvc/Shared/Styles/Style.css" asp-append-version="true" />

  </head>
  <body vocab="http://schema.org" typeof="WebPage" class="@(Model.IsModal? "Modal" : "") @(Model.IsNew? "js-new" : "")">

    @if (!Model.IsModal) {
      <header id="SiteHeader" class="navbar fixed-top" role="banner" vocab="http://schema.org" typeof="WPHeader">
        <!-- Header Container -->
        <div id="HeaderContainer" class="container header">
          <div class="row">

            <!-- Site Name -->
            <div class="col-md-2 col-sm-3 logotype lockup">
              <a href="~/">OnTopic</a>
            </div>
            <!-- /Site Name -->

            <!-- Page Title (Current Topic) -->
            <div class="@(Model.IsModal? "col-md-12 col-sm-12 Modal": "col-md-10 col-sm-9") page title">
              <h1>@Model.Topic.Title</h1>
            </div>
            <!-- /Page Title (Current Topic) -->

          </div>
        </div>
        <!-- /Header Container -->
      </header>
    }

    <main id="MainContentArea" class="@(Model.IsModal? "container-fluid" : "container")" role="main">
      <div class="row">

        <!-- Primary (Treeview) Sidebar -->
        @if (!Model.IsModal) {
          <nav id="Sidebar" class="col-md-2 col-sm-3 sidebar" role="navigation">
            <div id="FixedSidebar">
              <div id="TreeView"></div>
              @{
                var attributeDescriptor = new TopicListAttributeTopicViewModel() {
                  Key             = "Navigation",
                  ContentType     = "TopicListAttribute",
                  RootTopicKey    = "Configuration:ContentTypes",
                  AttributeKey    = "ContentType",
                  AttributeValue  = "ContentTypeDescriptor",
                  DefaultLabel    = "Add new topic…"
                };
              }
              <text>
                <vc:topic-list
                  current-topic=@Model.Topic
                  attribute=@attributeDescriptor
                  html-field-prefix="CreateNewTopic"
                  target-url=@($"{Url.Action("Edit")}?ContentType={{Key}}&IsNew=true")
                  values=@Model.ContentTypeDescriptor.PermittedContentTypes
                  enable-modal="false"
                  on-client-close="">
                </vc:topic-list>
              </text>
            </div>
          </nav>
        }
        <!-- /Primary (Treeview) Sidebar -->

        <!-- Primary Page Content -->
        <div id="PageContentArea" class="@(Model.IsModal? "col-sm-12 Modal" : "col-md-10 col-sm-9") page content">
          @RenderBody()
        </div>
        <!-- /Primary Page Content -->

      </div>
    </main>

    <script src="~/_content/Ignia.Topics.Editor.Mvc/Shared/Scripts/Scripts.js" asp-append-version="true"></script>

    @if (!Model.IsModal) {
      <partial name="_TreeviewScript" />
    }

    @RenderSection("scripts", required: false)

  </body>
</html>
