<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ignia OnTopic</title>
    <link rel="stylesheet" type="text/css" href="~/Areas/Editor/Shared/Styles/Stylesheet.css" />
  </head>
  <body>

    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

    <nav>
      <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
      </ul>
    </nav>

    <main>
      @RenderBody()
    </main>

    @RenderSection("scripts", required: false)

  </body>
</html>
