@model AttributeViewModel

<!-- Begin: @(((RazorView)ViewContext.View).Path) -->

<section id="@Model.AttributeDescriptor.Key" class="attribute @Model.AttributeDescriptor.Key @(Model.AttributeDescriptor.IsRequired? "required" : "")">

  <label asp-for="Value" class="form-label">@Model.AttributeDescriptor.Title</label>
  <i class="fa fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="@Model.AttributeDescriptor.Description"></i>
  <div class="fields FormField Field">

    <input type="hidden" asp-for="AttributeDescriptor.Key" />
    <input type="hidden" asp-for="AttributeDescriptor.ContentType" />

    @RenderBody()

  </div>

  <div style="display: none;">
    _value: @Model.Value
    <br />InheritedValue: @Model.InheritedValue
  </div>

</section>

<!-- End: @(((RazorView)ViewContext.View).Path) -->
