@model TokenizedTopicListAttributeViewModel

@{
  Layout = "~/Areas/Editor/Views/Editor/Components/_Layout.cshtml";
}

<div>
  <input asp-for="Value" class="form-control input-sm" />
</div>

<script>
  $(function() {

  //Create new instance of TokenizedTopics and set relevant properties
    var tokenizedTopics                 = new TokenizedTopics();
    tokenizedTopics.selector            = '#@Html.IdFor(m => m.Value)';
    tokenizedTopics.scope               = '@Model.Options.Scope.Replace(":", "/")';
    tokenizedTopics.attributeName       = '@Model.Options.AttributeName';
    tokenizedTopics.attributeValue      = '@Model.Options.AttributeValue';
    tokenizedTopics.searchProperty      = '@Model.Options.SearchProperty.ToLower()';
    tokenizedTopics.queryParameter      = '@Model.Options.QueryParameter';
    tokenizedTopics.resultLimit         = '@Model.Options.ResultLimit';
    tokenizedTopics.tokenLimit          = @Model.Options.TokenLimit;
    tokenizedTopics.isAutoPostBack      = @Model.Options.IsAutoPostBack.ToString().ToLower();
    tokenizedTopics.selectedTopics      = @Model.SelectedTopics;

  //Fire TokenizedTopics.prototype.getTokenizedTopics() (and $([selector]).tokenInput())
    tokenizedTopics.getTokenizedTopics();

  });

</script>