@model TopicListAttributeViewModel

@{
  Layout = "~/Areas/Editor/Views/Editor/Components/_Layout.cshtml";
}

@if (Model.TopicList.Count > 2 || String.IsNullOrEmpty(Model.TargetUrl)) {
  <select
    asp-for                     ="Value"
    asp-items                   ="Model.TopicList"
    class                       ="FormField Field"
    disabled                    =@(!Model.AttributeDescriptor.IsEnabled)
    required                    =@Model.AttributeDescriptor.IsRequired
    >
  </select>
}

else {
  <div class="ChildTopic">
    @if (Model.EnableModal == true) {
      <a onclick="initEditorModal('@Model.AttributeDescriptor.Key', '@Model.TopicList.LastOrDefault().Text', '@Model.TopicList.LastOrDefault().Value', @Model.OnModalClose); return false;" class="btn btn-info btn-sm">
        Add @Model.TopicList.LastOrDefault().Text
      </a>
    }
    else {
      <a href="@Model.TopicList.LastOrDefault().Value" class="btn btn-info btn-sm">
        Add @Model.TopicList.LastOrDefault().Text
      </a>
    }
  </div>
}