@model Ignia.Topics.Editor.Models.EditorViewModel

@{
  ViewBag.Title = "Home Page";
  var bindingModel = new EditorBindingModel();
}

<form asp-controller="Editor" asp-action="Edit" method="post" id="EditorForm">

  <partial name="_Toolbar" />

  <div id="FormArea" class="row form area">
    <div class="col-md-9">
      @{int index = 0;}
      <div id="DisplayGroupTabsContent" class="tab-content">
        @foreach (string category in Model.ContentTypeDescriptor.AttributeDescriptors.Select(a => a.DisplayGroup).Distinct()) {

          var supportedAttributes = Model.ContentTypeDescriptor.AttributeDescriptors.Where(a => a.DisplayGroup.Equals(category));
          var displayGroup = category.Replace(" ", "");

          <div id="Group_@displayGroup" class="tab-pane fade@(index == 0 ? " show active" : "")" role="tabpanel" aria-labelledby="Tab_@displayGroup">
            <section id="@category.Replace(" ", "-")">

              @foreach (var attribute in supportedAttributes) {

                if (attribute.IsHidden) {
                  continue;
                }

                @await Component.InvokeAsync(
                  attribute.EditorType.Replace(".ascx", ""),
                  new { Attribute=attribute, HtmlFieldPrefix="Attributes[" + index++ + "]" }
                )

              }

            </section>
          </div>

          index++;
        }
      </div>

    </div>
    <div class="col-md-3 callouts">
      <div class="callout topic-info">

        <h3 class="h5">Topic Information</h3>
        <dl>
          <dt><i class="fa fa-cogs"></i> Content Type</dt>
          <dd><a href="/Configuration/ContentTypes/@Model.Topic.ContentType">@Model.Topic.ContentType</a></dd>
          <dt><i class="fa fa-database"></i> Topic ID</dt>
          <dd><a href="/Topic/@Model.Topic.Id/">@Model.Topic.Id</a></dd>
          <dt><i class="fa fa-eye"></i> Current</dt>
          <dd><a href="@Model.Topic.WebPath">View Page</a></dd>
        </dl>

      </div>
    </div>
  </div>

</form>

@section scripts {
  <script>

    $(function() {

      /**
       * Wire up Attribute description tooltips
       */
      $('[data-toggle="tooltip"]').tooltip();

      /**
       * Sends AJAX request to Save/Edit Action
       */
      $('#SavePageButton').click(function() {

        $.ajax({
          url                   : '@Url.Action("Edit" + Model.Topic.WebPath, "Editor")',
          type                  : 'POST',
          data                  : @bindingModel,
          success: function (result) {
            if (result == true) {
            }
            else {
            }
          }
        });

      });

      /**
       * Sends AJAX request to Delete Action
       */
      $('#DeletePageButton').click(function () {

        var topicToDelete       = '@Model.Topic.UniqueKey';

        $.ajax({
          url                   : '@Url.Action("Delete" + Model.Topic.WebPath, "Editor")',
          type                  : 'POST',
          success: function (result) {
            if (result == true) {
              console.log('Topic ' + topicToDelete + ' deleted.');
            }
          },
          error: function (XMLHttpRequest, textStatus, errorThrown) {
            console.log(XMLHttpRequest);
            console.log(errorThrown);
          }
        });

      });

    });

    /**
     * Force the user to confirm they wish to delete a Topic before performing the deletion
     */
    function confirmDelete() {
      return confirm('Are you sure you want to delete the "@Model.Topic.Title.Replace("'", "&rsquo;")" topic? The topic and all descendants will be permanently deleted.');
    }

  </script>
}
