@model Ignia.Topics.Editor.Models.EditorViewModel

@{
  ViewBag.Title = "Home Page";
}

<h1>@Model.Topic.Title</h1>

@using (Html.BeginForm()) {

  for (int i = 0; i < Model.ContentType.SupportedAttributes.Count; i++) {
    var attribute = Model.ContentType.SupportedAttributes[i];
    var attributeViewModel = new AttributeViewModel(attribute, Model.Topic, Model.TopicRepository);
    var type = attribute.Type.Replace(".ascx", "");

    if (attribute.Attributes.GetValue("IsHidden", "0").Equals("1")) {
      continue;
    }

    <section id="@attribute.Key" class="attribute @attribute.Key">
      <h2>@Html.Label("Attributes[" + i + "].Value", attribute.Title)</h2>
      <p>@attribute.Description</p>
      <div class="fields">
        @Html.Hidden("Attributes[" + i + "].Type", type)
        @Html.Hidden("Attributes[" + i + "].Key", attribute.Key)
        @Html.EditorFor(m => attributeViewModel, type, "Attributes[" + i + "]")
      </div>
    </section>

  }

  <input type="submit" value="Save" />

}