@model Ignia.Topics.Editor.Models.EditorViewModel

@{
  ViewBag.Title = "Home Page";
}

<h1>@Model.Topic.Title</h1>

@using (Html.BeginForm()) {

  @foreach (var attribute in Model.ContentType.SupportedAttributes.Values) {
    <section id="@attribute.Key" class="attribute @attribute.Key">
      <h3>@attribute.Title</h3>
      <p>@attribute.Description</p>
      <div class="fields">
        @Html.EditorFor(m => attribute, attribute.Type, attribute.Key, Model.Topic)
      </div>
    </section>
  }

  <input type="submit" value="Save" />

}

